<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Library Management System</title>
    <link rel="stylesheet"  th:href="@{/styles.css}">
</head>
<body>
<h1>Books</h1>

<!-- Filter Form -->
<form th:action="@{/books}" method="get">
    <label for="platform">Filter by Platform:</label>
    <select name="platform" id="platform">
        <option value="" th:selected="${platform == null}">All</option>
        <option th:each="platformOption : ${T(com.jborza.library.Platform).values()}"
                th:value="${platformOption.name()}"
                th:text="${platformOption.name()}"
                th:selected="${platformOption == platform}"></option>
    </select>

    <label for="status">Filter by Status:</label>
    <select name="status" id="status">
        <option value="" th:selected="${status == null}">All</option>
        <option value="currently-reading" th:selected="${status == 'currently-reading'}">Currently Reading</option>
        <option value="to-read" th:selected="${status == 'to-read'}">To Read</option>
        <option value="read" th:selected="${status == 'read'}">Read</option>
    </select>

    <button type="submit">Filter</button>
</form>

<!-- Book list -->
<div class="book-list">
    <h1>Your Book List</h1>
    <div th:each="book : ${books}" class="book-item">
        <div class="book-thumbnail">
            <img th:src="${book.imageUrl != null ? book.imageUrl : '/images/placeholder.jpg'}" alt="Book cover for [[${book.title}]]" />
        </div>
        <div class="book-details">
            <a th:href="${book.webLink}"><h2 class="book-title" th:text="${book.title}"></h2></a>
            <p class="book-author">
                by <span th:text="${book.author}"></span>
            </p>
            <p class="book-meta">
                Platform: <span th:text="${book.platform.name()}"></span> |
                Status: <span th:text="${book.status}"></span>
            </p>
        </div>
        <div class="book-actions">
            <a th:href="@{/books/edit/{id}(id=${book.id})}" class="button edit-button">Edit</a>
            <form th:action="@{/books/delete/{id}(id=${book.id})}" method="post" style="display:inline-block;">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="button delete-button">Delete</button>
            </form>
        </div>
    </div>
</div>

<a href="/books/create">Add new book</a> <br />
<a href="/books/import">Import Books</a> <br />
<a href="/books/collect-thumbnails">Collect thumbnails</a> <br />

</body>
</html>